html {
  width: 100%;
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
textarea {
  width: 90%;
  height: 93%;
  resize: none;
  border: 0px;
  outline: 0px;
  font-size: 20px;
  color: white;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}
.btn {
  padding: 3px 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
}
.btn-on {
  background-color: rgb(60, 255, 0);
  box-shadow: 0 0px 20px rgb(60, 255, 0);
}
.btn-on h1 {
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.btn-off {
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0px 20px rgb(255, 0, 0);
}
.btn-off h1 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
